Chatbot_Avater/Assets/TheHereticDigitalHuman/Gawain_DemoScene/Animation/Face/Gawain_OneShotAtThis.asset_frames.bin filter=lfs diff=lfs merge=lfs -text
Chatbot_Avater/Assets/TheHereticDigitalHuman/StreamingAssets/SkinDeformationClip/1ab4a6f1bbfeefd42a936fb27976dbdf__Gawain_OneShotAtThis filter=lfs diff=lfs merge=lfs -text
Builds/Windows/Chatbot_Avater_Data/saredassets0.assets filter=lfs diff=lfs merge=lfs -text
Builds/Windows/Chatbot_Avater_Data/saredassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
Builds/Windows/Chatbot_Avater_Data/sharedassets0.assets filter=lfs diff=lfs merge=lfs -text
Builds/Windows/Chatbot_Avater_Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
Chatbot_Avatar/Assets/TheHereticDigitalHuman/StreamingAssets/SkinDeformationClip/1ab4a6f1bbfeefd42a936fb27976dbdf__Gawain_OneShotAtThis filter=lfs diff=lfs merge=lfs -text
Chatbot_Avatar/Assets/TheHereticDigitalHuman/Gawain_DemoScene/Animation/Face/Gawain_OneShotAtThis.asset_frames.bin filter=lfs diff=lfs merge=lfs -text
